.user-setting-wrapper {
  width: 100%;
  height: 100%;

  .user-setting {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-content: center;
    height: 100%;

    @include device(mobile) {
      grid-template-columns: 1fr;
      .user-setting-details {
        .user-details-container {
          padding: $xxxl 0 $lg 0;
          li {
            width: 100%;
          }
        }
      }
      .user-setting-profile-pic-section {
        display: none;
      }
    }

    @include device(tablet) {
      .user-details-container {
        li {
          width: 100%;
        }
      }
    }
  }
}

.user-setting-details {
  padding: $lg;
  .user-details-container {
    position: relative;
    width: 100%;
    padding: $lg;
    @include flex_layout(column, center, center);
    gap: $lg;

    li {
      @include flex_layout(row, start, center);
      width: 80%;
      .user-detail-inp {
        outline: none;
        border: none;
        color: $text-color-dark;
        font-size: $lg;
        &:focus {
          background: none;
        }
      }

      span {
        white-space: nowrap;
        text-align: left;
        margin-right: 5px;
        width: 40%;
        color: gray;
      }
    }
    .user-detail-edit-btn {
      position: absolute;
      right: 0;
      top: 0;
      font-size: $lg;
    }
  }
}

.user-setting-profile-pic-section {
  @include flex_layout(column, center, center);
  gap: $lg;
  .profile-img-container {
    position: relative;
    .profile-img {
      border-radius: 5px;
      width: 100px;
      height: 100%;
    }
    .img-edit-btn {
      display: none;
      position: absolute;
      font-size: $xxl;
      background: #ccc;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      top: 0%;
      left: 0%;
    }
    &:hover .img-edit-btn {
      display: block;
    }
  }
}

// change and upload buttons css
.change-upload-btn-container {
  .change-password-btn {
    margin-right: auto;
    white-space: nowrap;
  }

  .upload-img-btn {
    display: none;
    justify-content: end;
    white-space: nowrap;
    @include device(mobile) {
      display: block;
    }
  }
}

// Password Change Form Css

.pass-change-form-wrapper {
  grid-area: 2 / 1 / 3 / 3;
  padding: 0px $xl;
  width: 100%;
  margin: 0px auto;
  .pass-change-form-inputs {
    padding: $xl 0px;
  }
  @include device(desktop) {
    padding: 0px 5rem;
    .pass-change-form-inputs {
      padding-right: $xxxl;
    }
    .input-container {
      @include flex_layout(row, space-between, center);
      margin-top:$xl ;
      .input-label {
        width: auto;
        white-space: nowrap;
      }
      .input-field {
        width: 70%;
      }
    }
  }
}
