.bundle-grid-wrapper {
  width: 100%;
  .bundles {
    // background: gray;
    align-self: start;
    min-width: 75%;
    margin: auto;
    .bundles-grid {
      .bundles-header {
        border-radius: $sm;
        border: 1px solid $outline-border-color;
        @include flex-layout(row, space-between, center);

        padding: $md $lg;

        // margin: 0 $lg;
        margin-bottom: $lg;
        font-weight: bold;
        .filter-btn {
          display: none;
        }
        .sort-by {
          @include flex-layout(row, space-between, center);
          label {
            white-space: nowrap;
          }
          select {
            padding: 5px;
            font-size: 14px;
            color: $theme-accent1;
            background-color: $theme-accent2;
            option {
              padding: $md;
              color: $text-color-dark;
            }
          }

          @include device(mobile) {
            width: 100%;
            select {
              width: 100%;
              option {
                width: 100%;
              }
            }
          }
        }
        @include device(mobile) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: start;
          gap: $md;

          .bundles-header-top {
            min-width: 100%;
            @include flex-layout(row, space-between, center);
          }
          .filter-btn {
            display: block;
            @include flex-layout(row, center, center);
            svg {
              font-size: $xl;
            }
          }
        }
      }
      .bundles-grid-scroll {
        min-width: 100%;
        @include flex-layout(row, space-between, center);
        gap: $xl;
        align-items: center;
        flex-wrap: wrap;
        @include device(mobile) {
          justify-content: center;
        }
      }
    }
  }
}
