.navbar-container {
  background-color: $theme-accent2;
  min-width: 100%;
  margin-bottom: $xxxl !important ;

  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  span {
    button {
      @include flex_layout(row, center, center);
      color: $text-color-dark;
      margin: 0;
    }
  }
  .nav-responsive {
    overflow: normal;
    display: none;
    background-color: $theme-accent2;
    box-shadow: $box-shadow;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99;
    top: 0%;
    left: -100%;
  }
  .show-nav {
    animation-name: slideRight;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  @keyframes slideRight {
    100% {
      left: 0%;
    }
  }
}

.navbar {
  @include flex_layout(row, space-between, center);
  gap: 1rem;
  padding: 10px 0px;
  margin: 0;
  color: $text-color-dark;
}

//nav-left
.nav-left {
  @include flex_layout(row, space-between, center);
  font-size: 1rem;
  h1 {
    font-size: 24px;
    margin-right: 20px;
    color: $theme-accent1;
  }

  ul {
    @include flex_layout(row, center, center);
    gap: 5px;
    margin: 0;
    padding: 0;
  }
  li {
    @include flex_layout(row, center, center);
    position: relative;
  }
  button {
    background-color: none;
    outline: none;
    cursor: pointer;
    @include flex_layout(row, center, center);
  }
}

.nav-center {
  flex: 1;
  @include flex_layout(row, center, center);
}

// Nav right
.nav-right {
  position: relative;
  @include flex_layout(row, space-between, center);
  ul {
    @include flex_layout(row, space-between, center);
    margin: 0;
    padding: 0;
    li {
      svg {
        transition: $transition;
        &:hover {
          transition: $transition;
          color: $theme-accent1;
        }
      }
    }
  }
  li {
    @include flex_layout(row, center, center);

    margin-left: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    .dropdown-wrapper {
      display: none;
      position: absolute;
      top: 75%;
      left: -140%;
      width: 220px;
      padding: 10px 0px;
      button {
        width: 100%;
      }
      .dropdown {
        position: relative;
        border: 1px solid $outline-border-color;
      }
      .dropdown-content {
        margin-bottom: $md;
        gap: 1rem;
        li {
          justify-content: flex-start;
          padding: $xs 0;
          margin: 0;
          width: 100%;
          font-size: 16px;
          border-bottom: 1px solid $outline-border-color;
          &:hover {
            border-bottom: 1px solid $theme-accent1;
            color: $theme-accent1;
          }
        }
      }
    }
    &:hover {
      .dropdown-wrapper {
        display: block;
      }
    }
    &.nav-user-icon {
      img {
        width: 25px;
        height: 25px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid $theme-accent1;
      }
    }
  }
  .hamburger {
    display: none;
    font-size: 2rem;
  }
  .navbar-cart-icon {
    position: relative;
    margin-right: 5px;
    .cart-quantity-counter {
      top: -20%;
      right: -20%;
      position: absolute;
      color: $text-color;
      font-size: 12px;
      text-align: center;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background-color: $theme-accent1;
    }
  }
  .navbar-cart-icon {
    position: relative;
    margin-right: 5px;
    .cart-quantity-counter {
      top: -20%;
      right: -20%;
      position: absolute;
      color: $text-color;
      font-weight: 800;
      font-size: 10px;
      text-align: center;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background-color: $theme-accent1;
    }
  }
}

// Mobile Responsive
@mixin common-styles {
  .navbar-container {
    overflow: hidden;
    padding: 0px 0px 20px 0px;
    margin: 0;

    span {
      button {
        font-size: 1.75rem;
        margin: 0;
      }
    }

    .nav-responsive {
      display: block;
    }
  }

  .navbar {
    justify-content: space-between;
    margin: 0;
    padding: 0px 0px;
  }

  .nav-left {
    ul {
      display: none;
      flex-direction: column;
    }
    h1 {
      margin: 0;
    }
  }

  .nav-right {
    ul {
      display: none;
    }
    .hamburger {
      display: block;
      font-size: 1.5rem;
    }
  }
}

@include device(mobile) {
  @include common-styles;
}

@include device(tablet) {
  @include common-styles;
  .nav-center {
    flex: none;
    width: 25rem;
  }
  .navbar {
    gap: 2rem;
  }
}

//dropdown menu css
.dropdown-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: -50%;
  width: 320px;
  z-index: 999;

  .dropdown {
    background-color: $theme-accent2;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;

    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    .dropdown-content {
      @include flex_layout(column);
    }
    .dropdown-content-sidebar {
      li {
        font-size: 16px;
      }
    }
  }
}

.show-menu {
  display: block;
}

.hide-menu {
  display: none;
}

.nav-left-mobile {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: white;
  overflow-y: auto;
  padding-top: 24px;
  padding-left: 4px;
  transition-duration: 0.5s;
  left: 0;
}

//nav-responsive css
.nav-responsive {
  padding: 10px 20px;
  position: relative;
  .nav-top {
    @include flex_layout(row, space-between, center);
    gap: 1rem;
    margin-top: 3rem;
    border-bottom: 2px solid gray;
    width: 100%;
    .hide-menu-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
    a {
      width: 100%;
      padding: 5px 0px;
    }

    ul {
      @include flex_layout(row, center, center);
      gap: 1rem;
      li {
        font-size: 1.5rem;
      }
    }
    .nav-top-close-btn {
      position: absolute;
      top: 2%;
      right: 2%;
      font-size: 1.5rem;
      margin: 0;
      color: $text-color-dark;
      margin-left: 2rem;
    }

    .navbar-cart-icon-resp {
      position: relative;
      .cart-quantity-counter-resp {
        position: absolute;
        background-color: $theme-accent1;
        font-size: 10px;
        color: $text-color;
        width: 15px;
        font-weight: 800;
        height: 15px;
        top: -5%;
        right: -20%;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
  .nav-user-icon {
    img {
      width: 25px;
      height: 25px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid $theme-accent1;
    }
  }
  .nav-bottom {
    margin-top: 10px;
    ul {
      @include flex_layout(column);
      gap: 1rem;
      padding: 1rem;
      li {
        width: 100%;
        font-size: 1.25rem;
      }
    }
  }
}

.nav-responsive {
  .nav-footer-container {
    @include flex_layout(column, center, center);
    padding: 1rem;

    .nav-footer {
      i {
        margin: 5px;
        font-size: 1rem;
      }
    }
  }
  .nav-cpy {
    font-size: 12px;
  }
  li {
    svg {
      transition: $transition;
      &:hover {
        transition: $transition;
        color: $theme-accent1;
      }
    }
  }
}

.nav-link {
  font-weight: normal;
  &:hover {
    color: $theme-accent1;
  }
}
.nav-link-wrapper {
  padding: 5px;
  .nav-link-header {
    width: 100%;
    @include flex_layout(row, space-between, center);
    gap: 5px;
  }
  .nav-link-active {
    color: $theme-accent1;
    border-bottom: 2px solid $theme-accent1;
    border-radius: 2px;
  }
}

.nav-link-addition {
  width: 100%;
}

.auth-btn {
  padding: 0.5rem;
  background-color: red;
}
