.search-container {
  @include flex_layout(row, center, center);
  border: 1px solid $outline-border-color;
  border-radius: $xs;

  padding: 0px 10px;
  background-color: none;
  .search-input {
    border: none;
    padding: 8px;
    width: 100%;
    outline: none;
    font-size: 16px;
  }

  .search-icon {
    @include flex_layout(row, center, center);
    font-size: 2rem;
    cursor: pointer;

    &:hover {
      color: $theme-accent3;
      transition: background-color 0.3s;
    }
  }
  @include device(mobile) {
    width: 100%;
    padding: 0px 5px;
    .search-input {
      padding: 0;
    }
    .search-icon {
      font-size: 1.5rem;
    }
  }
  @include device(desktop) {
    width: 20rem;
  }
}
