.search-container {
  @include flex_layout(row, center, center);
  border: 1px solid $outline-border-color;
  border-radius: $xs;
  background-color: none;
  padding: 0px 8px;
  width: 100%;
  .search-input {
    border: none;
    padding: 7px;
    width: 100%;
    outline: none;
  }

  .search-icon {
    @include flex_layout(row, center, center);
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      color: $theme-accent1;
      transition: background-color 0.3s;
    }
  }
  @mixin common-styles {
    .search-icon {
      font-size: 1.5rem;
    }
  }
  @include device(mobile) {
    @include common-styles;
  }
  @include device(tablet) {
    @include common-styles;
  }
}

// Inpu styles
.input-container {
  width: 100%;
  .input-label {
    display: inline-block;
    margin:0.5rem 0px;
  }
  .input-field {
    padding: 0.75rem;
    border-radius: 0.375rem;
    background-color: #fff;
    color: #000;
    outline: none;
    transition: background-color 0.2s;
    border: 1px solid #ccc;
    width: 100%;
    &:focus {
      background-color: #f0f0f0;
    }
  }
}
