.home-wrapper {
  .home {
    .new-candy,
    .featured-brands,
    .sweet-deals,
    .bulk-candy,
    .blog-post {
      h2 {
        margin: 1rem 0;
        padding: $lg 0;
        // color: $theme-accent3;
        opacity: 0.8;
      }
      padding: $lg 0;
      margin-bottom: $xl;
    }
  }
}
