.about-us-wrapper {
  .about-us {
    .about-us-hero {
      overflow: hidden;
      border-radius: 5px;
      border: 1px solid $outline-border-color;
      @include flex-layout(row, center, center);
      gap: $sm;
      img {
        width: 100%;
        display: flex;
      }
      .swiper-pagination {
        bottom: 0rem;
      }
      .swiper-wrapper {
        // height: 200px;
        width: max-content;
        .swiper-slide {
          padding: $sm;
          margin: 1rem 0;
        }
      }

      .swiper-pagination-bullet-active {
        background-color: $theme-accent1 !important;
      }
      @include device("mobile") {
        // @include flex-layout(column-reverse, center, center);
        display: block;
      }
    }
  }
}
