.product-card-container {
  max-width: 243px;
  max-height: 383px;
  min-width: 243px;
  min-height: 383px;
  .product-card {
    border: 1px solid $outline-border-color;
    padding: $sm;
    border-radius: 5px;
    @include flex-layout(column, center, flex-start);
    transition: $transition;
    gap: $md;
    &:hover {
      transition: $transition;
      box-shadow: $box-shadow;
    }
  }
}

.product-card {
  .product-card-header {
    overflow: hidden;
    position: relative;
    width: 100%;
    img {
      display: flex;
      object-fit: contain;
      max-width: 100%;
      width: 100%;
      height: 225px;
    }
    .product-card-likes-badge,
    .product-card-stock-badge {
      top: $sm;
      // position: absolute;
    }
    .product-card-stock-badge {
      left: $sm;
    }
    .product-card-likes-badge {
      right: $sm;
    }
    .product-card-likes-badge {
      font-weight: 600;
      font-size: $md;
      padding: $xs $sm;
      right: $sm;
      border: 1px solid $theme-accent1;
      background-color: lighten($theme-accent1, 50%);
      border-radius: 5px;
      color: $theme-accent1;
      @include flex-layout(row, center, center);
      gap: $xs;
      box-shadow: $box-shadow;
    }
    .instock {
      padding: $xs $sm;
      border-radius: 5px;
      background-color: lighten(#00dfa4, 50%);
      color: #00dfa4;
      border: 1px solid #00dfa4;
      box-shadow: $box-shadow;

      font-weight: 600;
      font-size: $md;
    }
  }
  .product-card-info {
    width: 100%;
    position: relative;
    @include flex-layout(column, center, flex-start);
    gap: $sm;
    h1 {
      font-size: $lg;
    }
    h2 {
      font-size: $lg;
    }
    .product-card-price {
      width: 100%;
      @include flex-layout(row, flex-start, center);
      gap: $sm;
      .onSale {
        position: relative;
        &::after {
          content: "";
          width: 102%;
          height: 2px;
          background-color: lighten($theme-accent1, 30%);
          display: block;
          position: absolute;
          transform: translateY(50%) rotateZ(-5deg);
          bottom: 50%;
        }
      }
      small,
      p {
        white-space: nowrap;
      }
      .product-card-sale {
        position: absolute;
        right: 0;
        background-color: $theme-accent1;
        color: $text-color;
        padding: 0 $sm;
        border-radius: 20px;
        box-shadow: $box-shadow;
        white-space: nowrap;
        @include device(mobile) {
          position: absolute;
          top: 0%;
          right: 5%;
        }
      }
    }
  }
  .product-card-action {
    width: 100%;
    @include flex-layout(row, center, center);
    gap: $sm;
    button {
      box-shadow: $box-shadow-hover;
      flex-basis: 100%;
    }
  }
}
.product-card-badge-header {
  @include flex-layout(row, space-between, center);
}
