.Orders-wrapper {
  width: 100%;
  height: 100%;
}
.Orders {
  @include flex_layout(column);
  gap: 1rem;
  .Order-content {
    position: relative;
    padding: $lg;
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    &:hover {
      box-shadow: $box-shadow-hover;
    }
    p {
      font-size: 14px;
    }

    .view-order {
      @include flex_layout(row, end, center);
      .view-order-btn {
        font-weight: 600;
        font-size: 12px;
        color: #2ecc71;
        &:hover {
          border-bottom: 1px solid #2ecc71;
        }
      }
    }
    @include device(mobile) {
      grid-template-columns: 1fr; // Switch to a single-column layout
      grid-template-rows: 1fr 1fr 1fr;
      gap: $xs;
      .order-status {
        width: 100%;

        justify-content: space-between;
        p {
          width: max-content;
        }
      }
    }
  }
}
.order-status {
  @include flex_layout(row, center, center);
  gap: 15px;

  p {
    text-align: center;
    width: 100%;
  }
  .order-status-pil {
    text-align: center;
    color: $text-color-dark;
    font-size: 12px;
    white-space: nowrap;
    width: 100px;
    border-radius: 25px;
    padding: 1px 5px;
  }
}
// pills colors
.Processing {
  background-color: lighten(#0079ff, 40%);
}
.Shipped {
  background-color: lighten(#dd58d6, 30%);
}
.Cancelled {
  background-color: lighten(#ff0060, 30%);
}
.Delivered {
  background-color: lighten(#00dfa2, 30%);
}

.no-orders {
  p {
    text-align: center;
    font-style: italic;
    color: $text-color-grey;
  }
}
