@import "./partials/imports";
@import "./components/Common/style";
@import "./components/Navbar/Navbar";
@import "./components/ProductCard/ProductCard";
@import "./components/LandingHero/LandingHero";
@import "./components/BlogCard/BlogCard";
@import "./components/Footer/Footer";
@import "./components/Orders/Orders";
@import "./components/Orders/Orders";
@import "./components/Addresses/Addresses";
@import "./components/UserSetting/userSetting";
@import "./components/ProductDetail/ProductDetail";
@import "./components/Reviews/Reviews";
@import "./components/ProductDesc/ProductDesc";
@import "./components/Grid/Grid";
//pages
@import "./pages/AboutUs/AboutUs";
@import "./pages/UserProfile/UserProfiles";
@import "./pages/Blogs/Blogs";
@import "./pages/Blog/Blog";
@import "./pages/AuthPages/AuthPage";
@import "./pages/ContactUs/ContactUs";
@import "./pages/Home/Home";
@import "./pages/Products/Products";
@import "./pages/Product/Product";
@import "./pages/Cart/Cart";
.App-container {
  height: 100vh;
  width: 100vw;
  // display: flex;
  .App {
    z-index: 1;
    width: 90%;
    height: 100%;
    max-width: 1200px;

    padding: $lg;
    margin: 0 auto;

    @include device(tablet) {
      width: 100%;
    }
    @include device(mobile) {
      width: 100%;
    }
  }
}
.scroll-to-top {
  border-radius: 50% !important;
  background-color: $theme-accent1 !important;
}
