@import "./partials/imports";
@import "./components/LandingHero/LandingHero";

//pages
@import "./pages/AboutUs/AboutUs";
.App-container {
  height: 100vh;
  width: 100vw;
  // display: flex;
  .App {
    z-index: 1;
    width: 90%;
    height: 100%;
    max-width: 1200px;

    padding: $lg;
    margin: 0 auto;

    @include device(tablet) {
      width: 100%;
    }
    @include device(mobile) {
      width: 100%;
    }
  }
}

@import "./components/Navbar/Navbar";
@import "./components/ProductCard/ProductCard";
@import "./components/Common/style";
