@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
select {
  border: none;
  outline: none;
  background: none;
}

body {
  color: #45474b;
  height: 100vh;
  max-height: -moz-max-content;
  max-height: max-content;
}

::-webkit-scrollbar {
  display: none;
}

.c-ac1 {
  color: #bc131f;
}

.c-ac2 {
  color: #ffffff;
}

.c-ac3 {
  color: #151515;
}

.bg-ac1 {
  background-color: #bc131f;
}

.bg-ac2 {
  background-color: #ffffff;
}

.bg-ac3 {
  background-color: #151515;
}

.border-ac1 {
  border: 1px solid #bc131f;
}

.border-ac2 {
  border: 1px solid #ffffff;
}

.border-ac3 {
  border: 1px solid #151515;
}

.btn-primary {
  white-space: nowrap;
  color: #45474b;
  background-color: #bc131f;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
}
@media (hover: none) {
  .btn-primary:active {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-primary:hover {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}

.btn-outline {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #bc131f;
  transition: all 0.2s ease-in;
  color: #bc131f;
}
@media (hover: none) {
  .btn-outline:active {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #45474b;
    background-color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-outline:hover {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #45474b;
    background-color: #bc131f;
  }
}

.btn-box-primary {
  white-space: nowrap;
  color: #45474b;
  background-color: #bc131f;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
}
@media (hover: none) {
  .btn-box-primary:active {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-box-primary:hover {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}

.btn-box-outline {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #bc131f;
  transition: all 0.2s ease-in;
  color: #bc131f;
}
@media (hover: none) {
  .btn-box-outline:active {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #45474b;
    background-color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-box-outline:hover {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #45474b;
    background-color: #bc131f;
  }
}/*# sourceMappingURL=index.css.map */