@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
select {
  border: none;
  outline: none;
  background: none;
}

body {
  color: #7d7c7c;
  height: 100vh;
  max-height: -moz-max-content;
  max-height: max-content;
}

::-webkit-scrollbar {
  display: none;
}

.c-ac1 {
  color: #bc131f;
}

.c-ac2 {
  color: #ffffff;
}

.c-ac3 {
  color: #151515;
}

.bg-ac1 {
  background-color: #bc131f;
}

.bg-ac2 {
  background-color: #ffffff;
}

.bg-ac3 {
  background-color: #151515;
}

.border-ac1 {
  border: 1px solid #bc131f;
}

.border-ac2 {
  border: 1px solid #ffffff;
}

.border-ac3 {
  border: 1px solid #151515;
}

.btn-primary {
  white-space: nowrap;
  color: #ffffff;
  background-color: #bc131f;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
}
@media (hover: none) {
  .btn-primary:active {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-primary:hover {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}

.btn-outline {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #bc131f;
  transition: all 0.2s ease-in;
  color: #bc131f;
}
@media (hover: none) {
  .btn-outline:active {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #ffffff;
    background-color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-outline:hover {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #ffffff;
    background-color: #bc131f;
  }
}

.btn-box-primary {
  white-space: nowrap;
  color: #ffffff;
  background-color: #bc131f;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
}
@media (hover: none) {
  .btn-box-primary:active {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-box-primary:hover {
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: 1px solid #bc131f;
    color: #bc131f;
  }
}

.btn-box-outline {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #bc131f;
  transition: all 0.2s ease-in;
  color: #bc131f;
}
@media (hover: none) {
  .btn-box-outline:active {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #ffffff;
    background-color: #bc131f;
  }
}
@media (hover: hover) {
  .btn-box-outline:hover {
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    color: #ffffff;
    background-color: #bc131f;
  }
}

.product-card-container {
  max-width: 243px;
}
.product-card-container .product-card {
  border: 1px solid #d8d9da;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 0.2s ease-in-out;
  gap: 0.75rem;
}
.product-card-container .product-card:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.product-card .product-card-header {
  overflow: hidden;
  position: relative;
}
.product-card .product-card-header img {
  display: flex;
}
.product-card .product-card-header .product-card-likes-badge,
.product-card .product-card-header .product-card-stock-badge {
  top: 0.5rem;
  position: absolute;
}
.product-card .product-card-header .product-card-stock-badge {
  left: 0.5rem;
}
.product-card .product-card-header .product-card-likes-badge {
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  right: 0.5rem;
  border: 1px solid #bc131f;
  background-color: #fbd3d6;
  border-radius: 5px;
  color: #bc131f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}
.product-card .product-card-header .instock {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background-color: rgba(0, 223, 164, 0.2196078431);
  color: #00dfa4;
  border: 1px solid #00dfa4;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 0.75rem;
}
.product-card .product-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.product-card .product-card-info h1 {
  font-size: 1rem;
}
.product-card .product-card-info h2 {
  font-size: 1rem;
}
.product-card .product-card-info .product-card-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product-card .product-card-info .product-card-price p {
  position: relative;
}
.product-card .product-card-info .product-card-price p::after {
  content: "";
  width: 102%;
  height: 2px;
  background-color: #f1777f;
  display: block;
  position: absolute;
  transform: translateY(50%) rotateZ(-5deg);
  bottom: 50%;
}
.product-card .product-card-info .product-card-price .product-card-sale {
  background-color: #bc131f;
  color: #ffffff;
  padding: 0 0.5rem;
  border-radius: 20px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}
.product-card .product-card-action {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product-card .product-card-action button {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  flex-basis: 100%;
}

.landing-hero-container .landing-hero {
  border-radius: 5px;
  background: url("https://cdn.pixabay.com/photo/2012/06/27/15/02/candy-50838_1280.jpg");
  background-repeat: no-repeat;
  height: 300px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-hero-container .landing-hero .landing-hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-hero-container .landing-hero .landing-hero-content button {
  margin-top: 1rem;
}
.landing-hero-container .landing-hero .landing-hero-content {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
@media (max-width: 767px) {
  .landing-hero-container .landing-hero .landing-hero-content {
    height: 100%;
    width: 100%;
  }
}

.blog-card-container .blog-card {
  max-width: 400px;
  border: 1px solid #d8d9da;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}
.blog-card-container .blog-card img {
  width: 100%;
  display: flex;
}
.blog-card-container .blog-card .blog-card-info {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.329);
  border: 1px solid #ffffff;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  box-shadow: 0 -2px 4px -2px rgba(0, 0, 0, 0.2);
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  border-radius: 5px;
}
.blog-card-container .blog-card .blog-card-info h1 {
  font-size: 1rem;
}
.blog-card-container .blog-card .blog-card-info small {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.blog-card-container .blog-card:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.about-us-wrapper .about-us .about-us-hero {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #d8d9da;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.about-us-wrapper .about-us .about-us-hero img {
  width: 100%;
  display: flex;
}
.about-us-wrapper .about-us .about-us-hero .swiper-pagination {
  bottom: 0rem;
}
.about-us-wrapper .about-us .about-us-hero .swiper-wrapper {
  width: -moz-max-content;
  width: max-content;
}
.about-us-wrapper .about-us .about-us-hero .swiper-wrapper .swiper-slide {
  padding: 0.5rem;
  margin: 1rem 0;
}
.about-us-wrapper .about-us .about-us-hero .swiper-pagination-bullet-active {
  background-color: #bc131f !important;
}
@media (max-width: 767px) {
  .about-us-wrapper .about-us .about-us-hero {
    display: block;
  }
}

.App-container {
  height: 100%;
  width: 100%;
}
.App-container .App {
  z-index: 1;
  width: 90%;
  height: 100%;
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .App-container .App {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .App-container .App {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */