.bundles-wrapper {
  min-width: 100%;
  min-height: 100%;
  // @include flex-layout(row, start, center);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  .bundle-grid-wrapper {
    align-self: start;
  }
  .filter-wrapper {
    align-self: start;
  }
}
