.products-wrapper {
  min-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  .product-grid-wrapper {
    align-self: start;
  }
  .filter-wrapper {
    align-self: start;
  }
}
